@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #0E1016;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.main{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    height: 500px;
    width: 350px;
    background-color: #55d6aa;

    border-radius: 20px;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    color: #444;
}

a{
    text-decoration: none;
    color: #444;
}
:hover{
    text-decoration: underline;
}


.icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 140px;
    right: 10px;
    z-index: 1;
    padding: 10px;
}

.google-btn {
  width: 100%;
  height: 40px;
  background-color: #4285f4;
  border-radius: 7px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 16px;
  }
  :hover {
    box-shadow: 0 0 6px #4285f4;
  }
  :active {
    background: #1669F2;
  }
