<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Signup to HowToBasic!</title>
    <script src="login.js"></script>
    <link rel="stylesheet" href="loginstyles.css">
</head>
<body>
    <header>
       <div class="main">
                <h2 style="text-align: center;">Login</h2>
                <ul style="margin-right: 40px;">
                    <input type="text" name="username" id="username" placeholder="Username/Mail ID">
                    <input type="password" name="password" id="password" placeholder="Password">
                    <input type="submit" value="Login">
                </ul>
       </div>
    </header>
</body>
</html>