<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/signupstyles.css">
    <title>Signup</title>
</head>
<script src="signup.js"></script>

<body>
    <div class="main">
        <img src="icon.jpg" alt="icon" class="icon">
        <h2 style="text-align: center; padding-top: 60px; margin-left: 250px; ">Sign up to HowToBasic and unlock all
            course content for free!</h2>
        <form action="/route/signup" method="POST" class="pt-3">
            <ul style="margin-right: 40px;">
                <div class="form-group">
                    <input type="text" name="mailid" id="mailid" placeholder="Mail ID">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="password" name="confirm" id="confirm" placeholder="Confirm Password"
                        style="margin-bottom: 50px;">
                </div>
                <button type="submit" value="Signup" onclick="validateSignup()">Signup</button>
            </ul>
        </form>
    </div>
</body>

</html>